<ion-content [fullscreen]="true" scrollY="false">
  <div class="relative w-full h-full">
    <app-map class="absolute top-0 left-0 w-full h-full z-0"></app-map>

    <div
      class="absolute bottom-0 left-0 w-full h-[50%] flex justify-center items-center z-10"
    >
      <div class="bg-base-100 w-full h-full shadow-xl rounded-tl-3xl">
        <div class="flex flex-col justify-center items-center p-4 w-full mt-4">
          <label
            class="font-bold text-xl"
            style="font-family: 'DM Sans', sans-serif"
            >Selecciona un destino</label
          >

          <label
            class="text-[#67677A] text-center mt-4"
            style="font-family: 'DM Sans', sans-serif"
          >
            Elige uno de los tres destinos para ver sus ubicaciones en el
            mapa.</label
          >

          <div class="flex flex-row justify-center items-center w-full mt-6">
            <div class="flex justify-center items-center w-full">
              <button
                id="hotel-btn"
                class="btn"
                (click)="selectButton('hotel')"
                [ngClass]="{'selected': selectedButton === 'hotel'}"
              >
                Hotel
              </button>
            </div>
            <div class="flex justify-center items-center w-full">
              <button
                id="restaurant-btn"
                class="btn"
                (click)="selectButton('restaurant')"
                [ngClass]="{'selected': selectedButton === 'restaurant'}"
              >
                Restaurante
              </button>
            </div>
            <div class="flex justify-center items-center w-full">
              <button
                id="bar-btn"
                class="btn"
                (click)="selectButton('bar')"
                [ngClass]="{'selected': selectedButton === 'bar'}"
              >
                Bar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
